<div id="pick-my-ride">
  <header id="header">

  </header>

  <div id="main" class="container">
    <h1>choices</h1>
    <input type="text" id="new-choice" placeholder="Enter a new item you are considering or choose from below:"/>

    <div id="choice-list" class="row">
      <div class="car-container">
        <label>BMW</label>
        <button class="destroy"></button>
      </div>

      <div class="car-container">
        <label>VW</label>
        <button class="destroy"></button>
      </div>

      <div class="car-container">
        <label>Toyota</label>
        <button class="destroy"></button>
      </div>


      <label>Destroy all</label>
      <input type="checkbox" id="toggle-all">
    </div>

    <footer id="footer" class="container">
        <span id="choice-count">
          <strong>3</strong> choices
        </span>
      <ul id="filters">
        <li>
          <a href="all" class="selected">All</a>
        </li>
      </ul>

      <button id="compare-selected">
        Compare selected (1)
      </button>
      <p>Double-click to edit a choice</p>
    </footer>
  </div>
</div>
