<div id="pick-my-ride">
  <header id="header">
    <h1>choices</h1>
    <input type="text" id="new-choice" placeholder="Enter a new item you are considering or choose from below:"/>
  </header>

  <div id="main">
    <div id="choice-list">
      <div class="car-container">
        <label>BMW</label>
        <button class="destroy"></button>
      </div>

      <div class="car-container">
        <label>VW</label>
        <button class="destroy"></button>
      </div>

      <div class="car-container">
        <label>Toyota</label>
        <button class="destroy"></button>
      </div>


    </div>
    <label>Destroy all</label>
    <input type="checkbox" id="toggle-all">

    <footer id="footer">
        <span id="choice-count">
          <strong>3</strong> choices
        </span>
      <ul id="filters">
        <li>
          <a href="all" class="selected">All</a>
        </li>
      </ul>

      <button id="compare-selected">
        Compare selected (1)
      </button>
    </footer>
  </div>
</div>

<footer id="info">
  <p>Double-click to edit a choice</p>
</footer>
